<%- if @image.errors.any? %>
    <div class="alert alert-danger">
        <p class="alert-heading">Algo salió mal...</p>
    </div>
<% end %>
<div class="container">
    <div class="form-group">
        <%= form_for @image do |f| %>
            <%= f.label :description%>
            <%= f.text_field :description, class: 'form-control'%> <br />
                <%- if @image.errors[:description].any? %>
                    <span class="baadge badge-pill badge-danger">
                        <%= @image.errors[:description].first %>
                    </span>
                <% end%>
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
            <%= link_to  'Cancelar', images_index_path, class: 'btn btn-outline-danger'%>
        <% end %>
    </div>
</div>