<div class="col">
  <div class="card my-2" style="width: 18rem;">
    <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= image.description%></p>
          <%= link_to 'Editar', edit_image_path(image), :class=>"btn btn-outline-info mr-3"%>
          <%= link_to 'Eliminar', image, method: :delete,:class=>"btn btn-outline-danger" %>
    </div>
  </div>
</div>
